#drawer {
	height: 100%;
	width: $drawer;
	position: fixed;
	z-index: 1;
	top: 0;
	left: -$drawer;
	background: #fff;
	overflow-x: hidden;
	padding: 20px;
	border-right: $border;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	-ms-transition: left 0.3s;
	-o-transition: left 0.3s;
	transition: left 0.3s;

	.blogInfo {
		margin-bottom: $spacing * 2;
		h1 {
			margin-bottom: 0;
			font-size: 2rem;
			font-weight: 700;
			a {
				color: $head-text-color;
			}
		}
		.blogDesc {
			font-size: 1rem;
			color: #666;
		}
	}

	.counter {
		h3 {
			margin-bottom: 0 !important;
		}
		.total {
			h4 {
				font-weight: 700;
				font-size: 2rem;
				margin-bottom: 0;
			}
		}
		.today,
		.yesterday {
			color: #777;
		}
	}

	.sidebarElement {
		margin-bottom: $spacing * 1.5;
		h3 {
			font-size: 1.1rem;
			margin-bottom: 0.4rem;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			ul ul {
				margin-left: $spacing;
			}
			a {
				display: inline-block;
				color: #555;
				margin-bottom: 2px;
				&:hover {
					color: #999;
				}
				// img {
				// 	display: none;
				// 	&.active {
				// 		display: inline-block;
				// 	}
				// }
			}
		}
	}

	& > .sidebarElement:last-child {
		margin-bottom: 0;
	}

	.tagbox {
		a {
			display: inline-block;
		}
		& > div {
			margin-bottom: -8px;
		}
		.ant-tag {
			margin-bottom: 8px;
		}
		.cloud1 .ant-tag {
			color: #eb2f96;
			background: #fff0f6;
			border-color: #ffadd2;
		}
		.cloud2 .ant-tag {
			color: #fa8c16;
			background: #fff7e6;
			border-color: #ffd591;
		}
		.cloud3 .ant-tag {
			color: #52c41a;
			background: #f6ffed;
			border-color: #b7eb8f;
		}
		.cloud4 .ant-tag {
			color: #1890ff;
			background: #e6f7ff;
			border-color: #91d5ff;
		}
		.cloud5 .ant-tag {
			color: #722ed1;
			background: #f9f0ff;
			border-color: #d3adf7;
		}
	}
}
