@media (min-width: $lg) {
	#drawer {
		left: 0 !important;
	}
	.hover,
	.hamburger {
		display: none !important;
	}
	#main {
		-webkit-transform: translateX(0) !important;
		-moz-transform: translateX(0) !important;
		-ms-transform: translateX(0) !important;
		-o-transform: translateX(0) !important;
		transform: translateX(0) !important;
		margin-left: $drawer;
	}
	#content {
		width: $lg;
		padding: $spacing $spacing 0 $spacing;
	}
	.inner-content {
		border: $border;
		background: #fff;
	}
}

@media (max-width: $lg) {
	#main {
		background: #fff;
		padding: 0;
	}
}
