@import './font.scss';
@import './tistory.scss';
@import './variables.scss';

// app 기본 설정
[v-cloak] {
	display: none;
}

// 그 외 설정
#app {
	min-height: 100vh;
	overflow-x: hidden;
	&.active {
		#drawer {
			left: 0;
		}
		#main {
			-webkit-transform: translateX($drawer);
			-moz-transform: translateX($drawer);
			-ms-transform: translateX($drawer);
			-o-transform: translateX($drawer);
			transform: translateX($drawer);
		}
		.hover {
			display: block;
		}
	}
}

// 햄버거
$hamburger-layer-width: 30px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 5px;
$hamburger-hover-opacity: 1;
$hamburger-active-layer-color: #fff;
$hamburger-types: (slider);
@import './hamburgers/hamburgers.scss';
.hamburger {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
	outline: none;
}
.hover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10;
}

// 하위 설정
@import './drawer/drawer.scss';
@import './content/main.scss';

// 태그 덮어쓰기
.ant-tag {
	font-size: 14px;
	line-height: 22px;
	height: 24px;
}

#footer {
	text-align: center;
	padding: $spacing;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
}

@import './mediaquery.scss';
