@import './font.scss';
@import './tistory.scss';
@import './variables.scss';

// app 기본 설정
[v-cloak] {
	display: none;
}

// 그 외 설정
#app {
	min-height: 100vh;
	overflow-x: hidden;
	&.active {
		#drawer {
			left: 0;
		}
		#main {
			-webkit-transform: translateX($drawer);
			-moz-transform: translateX($drawer);
			-ms-transform: translateX($drawer);
			-o-transform: translateX($drawer);
			transform: translateX($drawer);
		}
	}
}

@import './drawer/drawer.scss';
@import './content/main.scss';

#footer {
	text-align: center;
	padding: $spacing;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
}

@import './mediaquery.scss';
