<s_list>
	<div class="inner-content categoryList">
		<h2>[##_list_conform_##]<span>([##_list_count_##])</span></h2>
		<a-list item-layout="horizontal" :locale="{ emptyText: '글이 없습니다' }">
			<% if (isProd) { %>
			<s_list_rep>
				<a-list-item>
					<a href="[##_list_rep_link_##]">
						[##_list_rep_title_##]
						<span class="cnt">[##_list_rep_rp_cnt_##]</span>
					</a>
					<div class="date">[##_list_rep_regdate_##]</div>
				</a-list-item>
			</s_list_rep>
			<% } else { %>
			<a-list-item v-for="n in 2">
				<a href="#">
					소학교 별 다 거외다
					<span class="cnt">(1)</span>
				</a>
				<div class="date">2019.09.01</div>
			</a-list-item>
			<a-list-item v-for="n in 2">
				<a href="#">
					별 다 슬퍼하는 아스라히 때 하나에 같이 나는 까닭입니다. 그리워 시인의 책상을 계절이 아이들의 까닭입니다. 이런 아무 계집애들의
					아침이 불러 이름을 있습니다.
					<span class="cnt">(1)</span>
				</a>
				<div class="date">2019.09.01</div>
			</a-list-item>
			<% } %>
		</a-list>
	</div>
</s_list>
