<s_notice_rep>
	<s_permalink_article_rep>
		<div class="inner-content">
			<div class="article notice">
				<h2 class="title">[##_notice_rep_title_##]</h2>
				<div class="info">
					<span class="date">[##_notice_rep_date_##]</span>
				</div>
				<div class="article-content">[##_notice_rep_desc_##]</div>
			</div>
		</div>
	</s_permalink_article_rep>
</s_notice_rep>
