<s_paging>
	<div class="paging">
		<% if (isProd) { %>
		<a [##_prev_page_##] class="[##_no_more_prev_##] prev"> <a-icon type="left"></a-icon> 이전 </a>
		<span class="numbox">
			<s_paging_rep>
				<a [##_paging_rep_link_##] class="num">[##_paging_rep_link_num_##]</a>
			</s_paging_rep>
		</span>
		<a [##_next_page_##] class="[##_no_more_next_##] next">다음 <a-icon type="right"></a-icon></a>
		<% } else { %>
		<a class="prev" href="?page=1"><a-icon type="left"></a-icon> 이전</a>
		<span class="numbox">
			<a href="#" class="num"><span>1</span></a>
			<a class="num"><span class="selected">2</span></a>
			<a href="#" class="num"><span>3</span></a>
			<a href="#" class="num"><span>4</span></a>
			<a href="#" class="num"><span>5</span></a>
			<a href="#" class="num"><span>6</span></a>
		</span>
		<a class="no-more-next next">다음 <a-icon type="right"></a-icon></a>
		<% } %>
	</div>
</s_paging>
