<s_paging>
	<div class="paging">
		<a class="[##_no_more_prev_##]">PREV</a>
		<span class="numbox">
			<s_paging_rep>
				<a class="num">
					[##_paging_rep_link_num_##]
				</a>
			</s_paging_rep>
		</span>
		<a class="[##_no_more_next_##]">NEXT</a>
	</div>
</s_paging>
