<div class="sidebarElement">
	<h3>BLOG MENU</h3>
	<% if (isProd) { %> [##_blog_menu_##] <% } else { %>
	<ul>
		<li class="t_menu_home first"><a href="/">홈</a></li>
		<li class="t_menu_tag"><a href="/tag">태그</a></li>
		<li class="t_menu_guestbook last"><a href="/guestbook">방명록</a></li>
	</ul>
	<% } %>
</div>
