// 글
.article {
	margin-bottom: $spacing * 2;
	h2 {
		font-size: 1.8em;
		font-weight: 700;
		margin-bottom: $spacing / 4;
	}
	.admin {
		margin-top: 4px;
		a {
			color: #aaa;
		}
	}
	.article-content {
		margin-top: $spacing;
	}
	.tag-trail {
		font-size: 0;
		margin-bottom: -8px;
		h3 {
			font-size: 1.2rem;
			font-weight: 700;
		}
		a[rel='tag'] {
			font-size: 12px;
			color: #1890ff;
			background: #e6f7ff;
			display: inline-block;
			line-height: 20px;
			height: 22px;
			padding: 0 7px;
			border-radius: 4px;
			border: 1px solid #91d5ff;
			margin-right: 8px;
			margin-bottom: 8px;
			white-space: nowrap;
			&:hover {
				opacity: 0.85;
			}
		}
	}
	.container_postbtn {
		margin: $spacing 0 $spacing * 2;
		padding: 0;
	}
}

// 관련글
.related {
	margin-bottom: $spacing * 2;
	h3 {
		font-size: 1.2rem;
		font-weight: 700;
	}
	.link {
		position: relative;
		height: 114px;
		border-radius: 5px;
		background-color: #eee;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $spacing / 2;
		.txt {
			position: relative;
			z-index: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #fff;
			font-weight: 700;
		}
		.bg {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			background: #000;
			border-radius: 5px;
		}
	}
}

// 댓글, 방명록
.guestWrite,
.commentWrite {
	.options {
		display: flex;
		align-items: center;
		margin-bottom: $spacing / 4;
		& > span {
			width: 125px;
			&:first-child {
				margin-right: $spacing / 4;
			}
		}
		.custom-checkbox {
			margin-left: auto;
			input[type='checkbox'] {
				position: absolute;
				opacity: 0;
				z-index: -1;
				& + label {
					position: relative;
					display: inline-block;
					padding: 0 0 0 1.8em;
					height: 1.5em;
					line-height: 1.5;
					cursor: pointer;
					&:before {
						position: absolute;
						top: 0.15em;
						left: 0;
						display: block;
						width: 1.2em;
						height: 1.2em;
						content: ' ';
						border: 1px solid #bdc3c7;
						border-radius: 20%;
						-webkit-transition: 0.25s all ease;
						-o-transition: 0.25s all ease;
						transition: 0.25s all ease;
					}
					&:after {
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						width: 1.2em;
						height: 1.2em;
						content: '\2714';
						color: #ffffff;
						line-height: 1.5;
						text-align: center;
						-webkit-transform: scale(0);
						-ms-transform: scale(0);
						-o-transform: scale(0);
						transform: scale(0);
						-webkit-transition: 0.25s all ease;
						-o-transition: 0.25s all ease;
						transition: 0.25s all ease;
					}
				}
				&:checked + label {
					&:before {
						background: $blue;
						border-color: $blue;
					}
					&:after {
						-webkit-transform: scale(1);
						-ms-transform: scale(1);
						-o-transform: scale(1);
						transform: scale(1);
					}
				}
			}
		}
	}
	textarea {
		margin-bottom: $spacing / 4 !important;
		min-height: 71px;
	}
}

.guestList,
.commentList {
	margin-top: $spacing;
	ol {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: $spacing / 2 0;
			border-bottom: 1px solid #e8e8e8;
		}
		ul {
			margin: 0 0 0 $spacing;
			padding: 0;
			list-style: none;
			li {
				&:last-child {
					border-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}
	.header {
		display: flex;
		align-items: center;
		margin-bottom: $spacing / 6;
		.name {
			a {
				@include black-a;
				font-weight: 500;
			}
			span {
				display: none;
			}
		}
		.date {
			font-size: 0.85rem;
			margin-left: $spacing / 4;
			color: #999;
			a {
				font-size: 0;
				margin-left: $spacing / 6;
				&:before {
					display: inline-block;
					font-size: 0.85rem;
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					font-variant: normal;
					font-style: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					content: '\f0a1';
					color: #aaa;
				}
			}
		}
		.spacer {
			flex-grow: 1 !important;
		}
		.modify {
			font-size: 0.85rem;
			@include black-a;
		}
		.write {
			font-size: 0.85rem;
			margin-left: $spacing / 4;
			@include black-a;
		}
	}
	.content {
		margin-bottom: 0;
	}
	.guest_admin,
	.rp_admin {
		.name a {
			color: $blue;
			&:hover {
				color: #91d5ff;
			}
		}
	}
	.guest_secret,
	.rp_secret {
		.content {
			color: #91d5ff;
		}
	}
}

// 방명록
.guestbook {
	h2 {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: $spacing;
	}
}

// 보호글
.protected {
	margin-bottom: 0;
	.article-content {
		color: #666;
		margin: $spacing * 2 0 !important;
		text-align: center;
	}
}

// 페이지, 공지사항
.page,
.notice {
	margin-bottom: 0;
	.container_postbtn {
		margin-bottom: 0;
	}
}
