.article {
	margin-bottom: $spacing * 2;
	h2 {
		font-size: 1.8em;
		font-weight: 700;
		margin-bottom: $spacing / 4;
	}
	.admin {
		margin-top: 4px;
		a {
			color: #aaa;
		}
	}
	.article-content {
		margin-top: $spacing;
	}
	.tag-trail {
		font-size: 0;
		margin-bottom: -8px;
		h3 {
			font-size: 1.2rem;
			font-weight: 700;
		}
		a[rel='tag'] {
			font-size: 12px;
			color: #1890ff;
			background: #e6f7ff;
			display: inline-block;
			line-height: 20px;
			height: 22px;
			padding: 0 7px;
			border-radius: 4px;
			border: 1px solid #91d5ff;
			margin-right: 8px;
			margin-bottom: 8px;
			white-space: nowrap;
			&:hover {
				opacity: 0.85;
			}
		}
	}
}

.related {
	margin-bottom: $spacing * 2;
	h3 {
		font-size: 1.2rem;
		font-weight: 700;
	}
	.link {
		display: block;
		position: relative;
		height: 114px;
		border-radius: 5px;
		background-color: #eee;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
	}
}
