#tt-body-index #main {
	background: $background !important;
}
#tt-body-index #content {
	padding: $spacing $spacing 0;
	& > div {
		margin-bottom: $spacing * 1.5;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.featured {
	.ant-card {
		margin-bottom: $spacing;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.thumbnail-list {
	h3 {
		font-size: 1.3rem;
		font-weight: 700;
	}
	.ant-row-flex {
		margin: -8px;
		& > div {
			padding: 8px;
		}
	}
	.ant-card {
		height: 100%;
	}
	.ant-card-meta-title {
		text-align: center;
	}
	.ant-card-meta-description {
		text-align: center;
		font-size: 0.88rem;
		margin-top: -4px;
	}
	.ant-card-body:only-child {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.ant-card-meta-title {
			white-space: normal;
		}
	}
}
