#content {
	margin: 0 auto;
	max-width: 100%;
	min-height: 300px;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	-ms-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	transition: padding 0.3s;
}
.inner-content {
	padding: $spacing;
	margin-bottom: $spacing;
}

@import './content/cover.scss';
@import './content/list.scss';
@import './content/paging.scss';
@import './content/article.scss';
@import './content/taglog.scss';
