<div class="article">
	<% if (isProd) { %>
	<h2 class="title">[##_article_rep_title_##]</h2>
	<div class="info">
		<a href="[##_article_rep_category_link_##]" class="category">[##_article_rep_category_##]</a>
		<span>·</span>
		<span class="date">[##_article_rep_date_##]</span>
	</div>
	<s_ad_div>
		<div class="admin">
			<a href="[##_s_ad_m_link_##]">수정</a>
			<a-divider type="vertical"></a-divider>
			<a href="#" onclick="[##_s_ad_s2_onclick_##]">[##_s_ad_s2_label_##]</a>
			<a-divider type="vertical"></a-divider>
			<a href="#" onclick="[##_s_ad_d_onclick_##]">삭제</a>
		</div>
	</s_ad_div>
	<div class="article-content">
		[##_article_rep_desc_##]
	</div>
	<s_tag_label>
		<div class="tag-trail">
			<h3>태그</h3>
			[##_tag_label_rep_##]
		</div>
	</s_tag_label>
	<% } else { %>
	<h2 class="title">소학교 별 다 거외다</h2>
	<div class="info">
		<a href="#" class="category">카테고리1</a> <span>·</span>
		<span class="date">2019.09.01 02:03</span>
	</div>
	<div class="admin">
		<a href="#">수정</a>
		<a-divider type="vertical"></a-divider>
		<a href="#">비공개로 변경합니다</a>
		<a-divider type="vertical"></a-divider>
		<a href="#">삭제</a>
	</div>
	<div class="article-content">
		<div class="tt_article_useless_p_margin">
			<p></p>
			<figure class="imageblock alignCenter">
				<span><img src="https://k.kakaocdn.net/dn/dnXuvs/btqxVdOPANu/ThvoDUK2JaTNgqcnvnKWK1/img.jpg"/></span>
			</figure>
			<p></p>
			<p>
				<span>
					별 다 슬퍼하는 아스라히 때 하나에 같이 나는 까닭입니다. 그리워 시인의 책상을 계절이 아이들의 까닭입니다. 이런 아무 계집애들의
					아침이 불러 이름을 있습니다. 소학교 별 다 거외다. 밤이 이 나는 위에도 풀이 피어나듯이 릴케 딴은 듯합니다. 아무 토끼, 위에도
					아이들의 있습니다. 하나 헤는 아직 비둘기, 나는 이름과, 있습니다. 이웃 이름을 이제 노루, 이름을 버리었습니다. 시와 지나고 다 했던
					묻힌 하나에 하나에 봅니다. 이름과, 내일 이 하나에 다 나의 비둘기, 봅니다.
				</span>
				<br /><br />
				<span>
					어머니, 강아지, 이름과, 이름과, 별 위에 위에도 위에 계십니다. 이런 벌써 이름과 봄이 이네들은 어머니, 시와 다하지 가득 있습니다.
					오는 써 잠, 멀듯이, 이름과 어머니, 봅니다. 프랑시스 소학교 지나가는 나의 라이너 버리었습니다. 그리워 가을 노루, 위에 별 오면 이웃
					무성할 봅니다. 것은 쉬이 가득 벌레는 계십니다. 별 자랑처럼 했던 토끼, 무엇인지 벌써 남은 듯합니다. 속의 하나에 나의 어머님, 이런
					써 노새, 이름을 어머님, 계십니다. 다 자랑처럼 새워 버리었습니다. 아름다운 자랑처럼 이 당신은 있습니다.
				</span>
			</p>
			<div style="padding: 35px 0;">
				<div style="display: inline-block; border: 1px solid #959595; height: 32px;">
					공감 공유하기 통계 글요소
				</div>
			</div>
		</div>
	</div>
	<div class="tag-trail">
		<h3>태그</h3>
		<a href="#" rel="tag">테스트</a>, <a href="#" rel="tag">테스트2</a>,
		<a href="#" rel="tag">테스트3</a>
	</div>
	<% } %>
</div>
