<div class="comments">
	<% if (isProd) { %>
	<s_rp>
		<s_rp_input_form>
			<div class="commentWrite">
				<s_rp_member>
					<div class="options">
						<s_rp_guest>
							<span class="ant-input-affix-wrapper">
								<span class="ant-input-prefix">
									<i class="anticon anticon-user">
										<svg
											viewBox="64 64 896 896"
											data-icon="user"
											width="1em"
											height="1em"
											fill="currentColor"
											aria-hidden="true"
											focusable="false"
											class=""
										>
											<path
												d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"
											></path>
										</svg>
									</i>
								</span>
								<input type="text" name="[##_rp_input_name_##]" value="[##_guest_name_##]" class="ant-input" placeholder="이름" />
							</span>
							<span class="ant-input-affix-wrapper">
								<span class="ant-input-prefix">
									<i class="anticon anticon-lock">
										<svg
											viewBox="64 64 896 896"
											data-icon="lock"
											width="1em"
											height="1em"
											fill="currentColor"
											aria-hidden="true"
											focusable="false"
											class=""
										>
											<path
												d="M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32zM332 240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224H332V240zm460 600H232V536h560v304zM484 701v53c0 4.4 3.6 8 8 8h40c4.4 0 8-3.6 8-8v-53a48.01 48.01 0 1 0-56 0z"
											></path>
										</svg>
									</i>
								</span>
								<input type="password" name="[##_rp_input_password_##]" class="ant-input" placeholder="비밀번호" maxlength="8" />
							</span>
						</s_rp_guest>
						<div class="custom-checkbox">
							<input type="checkbox" name="[##_rp_input_is_secret_##]" id="secret" />
							<label for="secret">비밀글</label>
						</div>
					</div>
				</s_rp_member>
				<textarea name="[##_rp_input_comment_##]" placeholder="댓글 내용" class="ant-input" rows="3"></textarea>
				<button type="submit" class="ant-btn ant-btn-primary" onclick="[##_rp_onclick_submit_##]">
					<span>등록</span>
				</button>
			</div>
		</s_rp_input_form>
		<s_rp_container>
			<div class="commentList">
				<ol>
					<s_rp_rep>
						<li id="[##_rp_rep_id_##]">
							<div class="[##_rp_rep_class_##]">
								<div class="header">
									<span class="name">[##_rp_rep_name_##]</span>
									<span class="date"> [##_rp_rep_date_##]</span>
									<span class="spacer"></span>
									<a href="#" onclick="[##_rp_rep_onclick_delete_##]" class="modify">수정/삭제</a>
									<a href="#" onclick="[##_rp_rep_onclick_reply_##]" class="write">댓글쓰기</a>
								</div>
								<p class="content">[##_rp_rep_desc_##]</p>
							</div>
							<s_rp2_container>
								<ul>
									<s_rp2_rep>
										<li id="[##_rp_rep_id_##]">
											<div class="[##_rp_rep_class_##]">
												<div class="header">
													<span class="name">[##_rp_rep_name_##]</span>
													<span class="date"> [##_rp_rep_date_##]</span>
													<span class="spacer"></span>
													<a href="#" onclick="[##_rp_rep_onclick_delete_##]" class="modify">수정/삭제</a>
												</div>
												<p class="content">[##_rp_rep_desc_##]</p>
											</div>
										</li>
									</s_rp2_rep>
								</ul>
							</s_rp2_container>
						</li>
					</s_rp_rep>
				</ol>
			</div>
		</s_rp_container>
	</s_rp>
	<% } else { %>
	<div id="entry3Comment" style="display: block;">
		<form style="margin: 0px;">
			<div class="commentWrite">
				<div class="options">
					<span class="ant-input-affix-wrapper">
						<span class="ant-input-prefix">
							<i class="anticon anticon-user">
								<svg
									viewBox="64 64 896 896"
									data-icon="user"
									width="1em"
									height="1em"
									fill="currentColor"
									aria-hidden="true"
									focusable="false"
									class=""
								>
									<path
										d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"
									></path>
								</svg>
							</i>
						</span>
						<input type="text" name="[##_rp_input_name_##]" value="[##_guest_name_##]" class="ant-input" placeholder="이름" />
					</span>
					<span class="ant-input-affix-wrapper">
						<span class="ant-input-prefix">
							<i class="anticon anticon-lock">
								<svg
									viewBox="64 64 896 896"
									data-icon="lock"
									width="1em"
									height="1em"
									fill="currentColor"
									aria-hidden="true"
									focusable="false"
									class=""
								>
									<path
										d="M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32zM332 240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224H332V240zm460 600H232V536h560v304zM484 701v53c0 4.4 3.6 8 8 8h40c4.4 0 8-3.6 8-8v-53a48.01 48.01 0 1 0-56 0z"
									></path>
								</svg>
							</i>
						</span>
						<input type="password" name="[##_rp_input_password_##]" class="ant-input" placeholder="비밀번호" maxlength="8" />
					</span>
					<div class="custom-checkbox">
						<input type="checkbox" name="[##_rp_input_is_secret_##]" id="secret" />
						<label for="secret">비밀글</label>
					</div>
				</div>
				<textarea name="[##_rp_input_comment_##]" placeholder="댓글 내용" class="ant-input" rows="3"></textarea>
				<button type="submit" class="ant-btn ant-btn-primary" onclick="[##_rp_onclick_submit_##]">
					<span>등록</span>
				</button>
			</div>
		</form>
		<div class="commentList">
			<ol>
				<li id="comment13202358">
					<div class="rp_admin">
						<div class="header">
							<span class="name">
								<a href="https://stackoverflow.tistory.com" onclick="return openLinkInNewWindow(this)">나나@skin</a>
								<span class="tistoryProfileLayerTrigger"></span>
							</span>
							<span class="date"> 2019.09.03 01:19</span>
							<span class="spacer"></span>
							<a href="#" onclick="deleteComment(13202358);return false" class="modify">수정/삭제</a>
							<a href="#" onclick="commentComment(13202358); return false" class="write">댓글쓰기</a>
						</div>
						<p class="content">댓글 테스트</p>
					</div>
				</li>
				<li id="comment13205214">
					<div class="rp_admin">
						<div class="header">
							<span class="name">
								<a href="https://stackoverflow.tistory.com" onclick="return openLinkInNewWindow(this)">나나@skin</a>
								<span class="tistoryProfileLayerTrigger"></span>
							</span>
							<span class="date"> 2019.09.09 23:53</span>
							<span class="spacer"></span>
							<a href="#" onclick="deleteComment(13205214);return false" class="modify">수정/삭제</a>
							<a href="#" onclick="commentComment(13205214); return false" class="write">댓글쓰기</a>
						</div>
						<p class="content">ddddd</p>
					</div>
					<ul>
						<li id="comment13205958">
							<div class="rp_admin">
								<div class="header">
									<span class="name">
										<a href="https://stackoverflow.tistory.com" onclick="return openLinkInNewWindow(this)">나나@skin</a>
										<span class="tistoryProfileLayerTrigger"></span>
									</span>
									<span class="date"> 2019.09.10 19:06</span>
									<span class="spacer"></span>
									<a href="#" onclick="deleteComment(13205958); return false;" class="modify">수정/삭제</a>
								</div>
								<p class="content">대댓글 하이요</p>
							</div>
						</li>
					</ul>
				</li>
				<li id="comment13206178">
					<div class="rp_general">
						<div class="header">
							<span class="name">
								<a href="https://solution-release.tistory.com" onclick="return openLinkInNewWindow(this)">솔루션배포</a>
							</span>
							<span class="date">
								2019.09.10 21:51
								<a href="/toolbar/popup/abuseReport/?entryId=3&amp;commentId=13206178">신고</a>
							</span>
							<span class="spacer"></span>
							<a href="#" onclick="deleteComment(13206178);return false" class="modify">수정/삭제</a>
							<a href="#" onclick="commentComment(13206178); return false" class="write">댓글쓰기</a>
						</div>
						<p class="content">댓글을 다는 연습을 합니다</p>
					</div>
				</li>
				<li id="comment13206187">
					<div class="rp_general">
						<div class="header">
							<span class="name">게스트</span>
							<span class="date">
								2019.09.10 21:58
								<a href="/toolbar/popup/abuseReport/?entryId=3&amp;commentId=13206187">신고</a>
							</span>
							<span class="spacer"></span>
							<a href="#" onclick="deleteComment(13206187);return false" class="modify">수정/삭제</a>
							<a href="#" onclick="commentComment(13206187); return false" class="write">댓글쓰기</a>
						</div>
						<p class="content">안녕하세요</p>
					</div>
					<ul>
						<li id="comment13205958" v-for="n in 2">
							<div class="rp_admin">
								<div class="header">
									<span class="name">
										<a href="https://stackoverflow.tistory.com" onclick="return openLinkInNewWindow(this)">나나@skin</a>
										<span class="tistoryProfileLayerTrigger"></span>
									</span>
									<span class="date"> 2019.09.10 19:06</span>
									<span class="spacer"></span>
									<a href="#" onclick="deleteComment(13205958); return false;" class="modify">수정/삭제</a>
								</div>
								<p class="content">대댓글 하이요</p>
							</div>
						</li>
					</ul>
				</li>
				<li id="comment13206188">
					<div class="rp_secret">
						<div class="header">
							<span class="name">
								<a href="https://solution-release.tistory.com" onclick="return openLinkInNewWindow(this)">솔루션배포</a>
							</span>
							<span class="date">
								2019.09.10 21:58
								<a href="/toolbar/popup/abuseReport/?entryId=3&amp;commentId=13206188">신고</a>
							</span>
							<span class="spacer"></span>
							<a href="#" onclick="deleteComment(13206188);return false" class="modify">수정/삭제</a>
							<a href="#" onclick="commentComment(13206188); return false" class="write">댓글쓰기</a>
						</div>
						<p class="content">비밀글 [비밀댓글]</p>
					</div>
				</li>
			</ol>
		</div>
	</div>
	<% } %>
</div>
